*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html{
    /* reseteamos el font size para que rem trabaje con un equivalente a 10 px = 1 rem  */
    font-size: 62.5%;
}
body{
    /* equivale a 16 px  */
    font-size: 1.6rem;
}

.container__img{
    padding: 2rem;
    background-color: rgb(197, 64, 64);
    border: 0.3rem solid black;
    /* height: 50vh; */
    display: flex;
    flex-direction:column;
    align-items: center;
}

#randomImg{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

img{
    width:300px;
    height: 300px;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

button:hover{
    background-color: chartreuse;
}

.container{
    padding: 2rem;
    background-color: rgb(253, 51, 51);
    display: flex;
    flex-direction:column;
    align-items: center;
}

#imgFavoritas{
    display: flex;
    flex-direction:column;
     align-items: center;
}

h2{
    text-align: center;
}